.vs
bin
obj

Plugins/Libraries/*.dll
Plugins/Libraries/x64/*.dll
Plugins/Libraries/x86/*.dll

Plugins/_DummyTrain/Ats/Ats32/*.dll
Plugins/_DummyTrain/Ats/Ats32/*.pdb
!Plugins/_DummyTrain/Ats/Ats32/DetailManager.dll
!Plugins/_DummyTrain/Ats/Ats32/Harmony-net35.dll
!Plugins/_DummyTrain/Ats/Ats32/Zbx1425.DXDynamicTexture-net35.dll

Plugins/_DummyTrain/Ats/Ats64/*.dll
Plugins/_DummyTrain/Ats/Ats64/*.pdb
!Plugins/_DummyTrain/Ats/Ats64/DetailManager.dll
!Plugins/_DummyTrain/Ats/Ats64/Harmony-net48.dll
!Plugins/_DummyTrain/Ats/Ats64/Zbx1425.DXDynamicTexture-net48.dll